<div class="center header">

	<%= link_to stories_path do%>
	<%= image_tag "logo.png" %>
	<% end %>

		<div class="pure-menu pure-menu-open pure-menu-horizontal sansserif", style="margin-top: .5em">
		    <ul>

		        <li><%= link_to "STORIES", stories_path %></li>
		        <li><%= link_to "MISSION", mission_path %></li>
		        <li><%= link_to "ABOUT", about_path %></li>
		        <li><%= link_to "CONTACT", contact_path %></li>
		        <% if signed_in? %>
		        <li><%= link_to "ADMIN", :controller => "static_pages", :action => "admin" %></li>
		        <% end %>
		    </ul>
		</div>



</div>