<div class="content">


<%= render "header" %>

<div class="contentbody">

<p>

<b>Email</b>
<br />
contactbrieftoday@gmail.com
<br /><br />

<b>Phone</b>
<br />
12345678

<br /><br />
<b>Social media</b>
<br /><br />
</p>

</div>


<%= link_to 'New Article', new_article_path %>

<%= link_to "Stories", stories_path %>
<%= link_to "Mission", mission_path %>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
<br />
<%= link_to "All Articles", articles_path %>

</div>