<%= render "header" %>

<ul class="grid cs-style-3">
	<% @articles.each do |article| %>
		<li>
	        <figure>
	            <%= link_to image_tag(article.image(:medium), :class => "img"), article_path(article) %>
	            <%= link_to(article_path(article)) do %>
	            <figcaption>
	                <h3><%= article.title%></h3>
	                <span class="center"><%= article.region %></span>
	            </figcaption>
	            <% end %>
	        </figure>
    	</li>

    	<% end %>

<!-- <div class="contentbody gallery">
  <div class="pure-g">

        <% @articles.each do |article| %>

                <div class="pure-u-1-3 pure-u-sm-1 image">
                  <%= link_to image_tag(article.image(:large), :class => "pure-img"), article_path(article) %>
                  <h1>Article Title</h1>
                </div>

        <% end %>


  </div>

</div> -->
