
<div class="content-wrapper">           

  

  <%= form_for :session, url: {action: "create"}, html: {class: "pure-form pure-form-stacked"} do |f| %>

  

      <div class="pure-g">

        <%= f.text_field :email, :placeholder => "Email...", :class => "pure-input-1 field", :required => "true" %>

        <%= f.password_field :password, :placeholder => "Password...", :class => "pure-input-1 field", :required => "true" %>

        
      

      <div class="pure-u-1", id="button_area", style="text-align: center" >
            <%= f.submit "Sign in", class: "pure-button pure-button-primary" %>
            <%= link_to "Sign up", signup_path, class: "pure-button" %>
      </div>
    </div>

    <% end %>

</div>