
<div>
	<%= form_for(@article, :html => { :multipart => true, :class => 'pure-form pure-form-stacked form' } ) do |f| %>

		<div class="pure-g">

			<%= f.text_field :title, :placeholder => "Title...", :class => "pure-input-1 field", :required => "true" %>

		    <%= f.text_field :region, :placeholder => "Region...", :class => "pure-input-1 field", :required => "true" %>


			<%= f.text_field :country, :placeholder => "Country...", :class => "pure-input-1 field", :required => "true" %>

		    <%= f.text_area :text, :placeholder => "Text...", :class => "pure-input-1", :required => "true" %>

		    <%= f.text_field :originallink, :placeholder => "Original Article URL...", :class => "pure-input-1 field", :required => "true" %>

			<div style="clear:right">		  	

			  	<% if @article.image.present? %>
					<%= image_tag @article.image.url(:thumb) %><br>
				<% end %>

				<%= f.file_field :image %>
				
				<br>

			</div>

			<div class="pure-u-1", id="button_area" >
				<%= link_to 'Back', :back, :class => "pure-button" %>
			    <%= f.submit 'Save Article', :class => 'pure-button pure-button-primary' %>
				<% if local_assigns.has_key? :edit %>
					<%= link_to 'Delete', article_path(@article),
				          method: :delete, data: { confirm: 'Are you sure?'}, :class => "pure-button button-cta" %>
				<% end %>
			</div>

		</div>

	<% end %>

</div>