<%= render "static_pages/header" %>
<div class="articlebody">

<p>
  <strong>
  <%= @article.title %>
  </strong>
</p>
 
<p>
	<%= @article.region %>
</p>

<p>
	<i><%= (@article.country) + '. ' %> </i>
	<%= simple_format(@article.text) %>
</p>

<br>

<%= link_to 'Back', :back, :class => "pure-button" %>
<%= link_to 'Edit', edit_article_path(@article), :class => "pure-button" %>
<%= link_to 'Original Article', @article.originallink, :class => "pure-button" %>
<%= link_to 'Delete', article_path(@article),
                  method: :delete, data: { confirm: 'Are you sure?'}, :class => "pure-button", :style => "display: none" %>

</div>
