<div class="content">

<%= render "static_pages/header" %>
<div class="articlebody">

<p>
  <strong>
  <%= @article.title %>
  </strong>
</p>
 
<p>

  <%= @article.text %>
</p>
<br>

<%= link_to 'Back', root_path, :class => "pure-button", :style => "text-align: right" %>
<%= link_to 'Edit', edit_article_path(@article), :class => "pure-button" %>

</div>
</div>